package cn.daxiang.lyltd.gameserver.core.dataconfig.model;


import cn.daxiang.framework.dataconfig.ModelAdapter;
import cn.daxiang.framework.dataconfig.annotation.DataFile;
import cn.daxiang.framework.dataconfig.annotation.FieldIgnore;
import cn.daxiang.framework.identity.IdentiyKey;
import com.alibaba.fastjson.JSON;
import com.alibaba.fastjson.JSONArray;

/**
*  ${table.fileDescription}
*
* @author $!{author}
* @since ${now}
*/
@DataFile(fileName = "${table.fileNameAlias}")
public class  ${table.fileName} implements ModelAdapter {

    #foreach($item in $table.paramList)
/**
    * ${item.description}
    */
    private ${item.typeAlias} ${item.name} ${item.defaultValue};
    #end


    @Override
    public void initialize() {
        ${table.initialize}
    }

    @Override
    public IdentiyKey findKey() {
        return IdentiyKey.build(id);
    }
}