package cn.daxiang.lyltd.gameserver.module.${table.name.substring(0, 1).toLowerCase()}${table.name.substring(1)};

import cn.daxiang.framework.dispatch.DispatchType;
import cn.daxiang.framework.protocal.DataPacket;
import cn.daxiang.framework.result.Result;
import cn.daxiang.framework.result.TResult;
import cn.daxiang.framework.router.annotation.Cmd;
import cn.daxiang.lyltd.gameserver.core.database.table.${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)};
import cn.daxiang.lyltd.gameserver.core.router.GatewayRouterHandlerImpl;
import cn.daxiang.lyltd.gameserver.module.holySoul.response.${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}Response;
import cn.daxiang.shared.ModuleName;
import cn.daxiang.shared.reward.RewardResult;
import io.netty.channel.Channel;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;

import java.util.Collection;

/**
 * ${table.comment}
 *
 * @author $!{author}
 * @since ${now}
 */
@Component
public class ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}Handler extends GatewayRouterHandlerImpl {

    @Override
    public byte getModule() {
        return ModuleName.${table.alias};
    }

    @Cmd(Id = ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}Cmd.GET_HOLY_SOUL, dispatchType = DispatchType.ACTOR)
    public void createIdol(Channel channel, Long actorId, DataPacket packet) {
        channelWrite(channel,packet,packet);
    }

    @Cmd(Id = ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}Cmd.ADVANCE_LEVEL_UP, dispatchType = DispatchType.ACTOR)
    public void advanceLevelUp(Channel channel, Long actorId, DataPacket packet) {
        channelWrite(channel,packet,packet);
    }

    @Cmd(Id = ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}Cmd.HOLY_SOUL_SYNTHESIZE, dispatchType = DispatchType.ACTOR)
    public void levelUp(Channel channel, Long actorId, DataPacket packet) {
        channelWrite(channel,packet,packet);
    }

}
