package cn.daxiang.lyltd.gameserver.module.${table.name.substring(0, 1).toLowerCase()}${table.name.substring(1)};

/**
 * ${table.comment}
 *
 * @author $!{author}
 * @since ${now}
 */
public interface ${table.name}Cmd {

    /**
     * ${table.comment}
     * <pre>
     *     请求：{@code Request}
     *     响应: {@code Response}
     *     推送：{@code Response}
     * </pre>
     */
    byte GET_${table.alias} = 1;

    /**
     * ${table.comment}
     * <pre>
     *     请求：{@code Request}
     *     响应: {@code Response}
     *     推送：{@code Response}
     * </pre>
     */
    byte LEVEL_UP = 2;

    /**
     * ${table.comment}
     * <pre>
     *     请求：{@code Request}
     *     响应: {@code Response}
     *     推送：{@code Response}
     * </pre>
     */
    byte ADVANCE_LEVEL_UP = 2;

    /**
     * 推送${table.comment}信息
     * 推送：{@code ${table.name}Response}
     */
    byte PUSH_${table.alias} = 100;

    /**
     * 推送删除${table.comment}信息
     * 推送：{@code ${table.name}DeleteResponse}
     */
    byte PUSH_DELETE_${table.alias} = 101;
}
