package cn.daxiang.lyltd.gameserver.module.${table.name}.dao.impl;

import cn.daxiang.framework.database.MultiEntity;
import cn.daxiang.framework.database.dao.MultiEntityDaoImpl;
import cn.daxiang.framework.id${table.name}.IdentiyKey;
import cn.daxiang.shared.reward.RewardType;
import cn.daxiang.lyltd.gameserver.core.GameConfig;
import cn.daxiang.lyltd.gameserver.core.database.IdGenerator;
import cn.daxiang.lyltd.gameserver.core.database.UniqueId;
import cn.daxiang.lyltd.gameserver.core.database.table.${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)};
import cn.daxiang.lyltd.gameserver.core.oss.GameOssLogger;
import cn.daxiang.lyltd.gameserver.core.oss.type.OperationType;
import cn.daxiang.lyltd.gameserver.module.pet.dao.${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}Dao;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;

import java.util.Collection;
import java.util.List;
import java.util.Map;
import java.util.concurrent.atomic.AtomicLong;

/**
 * ${table.comment}
 * @author $!{author}
 * @since ${now}
 */
@Component
public class ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}DaoImpl extends MultiEntityDaoImpl implements ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}Dao{

    @Autowired
    private IdGenerator idGenerator;

    @Override
    protected Class<? extends MultiEntity<?>> forClass() {
        return ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}.class;
    }

    @Override
    protected void initMaxId() {
        Long maxId = jdbc.queryForObject("select max( ${table.primaryKey.name}) from ${table.name}", Long.class);
        AtomicLong base = null;
        if (maxId == null || maxId <= 0) {
            base = new AtomicLong(UniqueId.otherId(GameConfig.getServerId(), GameConfig.getServerType()));
        } else {
            base = new AtomicLong(maxId);
        }
        idGenerator.init(IdentiyKey.build(this.getClass()), base);
    }

    @Override
    public Collection<${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}> get${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}List(long actorId) {
        Map<IdentiyKey, ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}> map = this.getByFk(actorId);
        return map.values();
    }

    @Override
    public ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)} get${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}(long actorId, long targetId) {
        ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)} result = this.getMultiEnity(actorId, IdentiyKey.build(targetId));
        return result;
    }

    @Override
    public ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)} create${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}${table.valueOf}{
        long ${table.name}Id = this.idGenerator.increment(IdentiyKey.build(this.getClass()));
        ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)} ${table.name} = ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}.valueOf(#foreach($item in $table.fields)${item.name}#if($foreach.hasNext),#end#end);
        this.updateQueue(${table.name});
        return ${table.name};
    }

    @Override
    public void delete${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}(long actorId, Collection<Long> targetIds, OperationType operationType) {
        for (Long id : targetIds) {
            ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)} ${table.name} = this.get${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}(actorId, id);
            GameOssLogger.goodsDecrease(actorId, operationType, RewardType.${table.name.toUpperCase()}, ${table.name}.get${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}Id(), ${table.name}.getConfigId(), 1, 1);
            this.delete(${table.name});
        }
    }
}