package cn.daxiang.lyltd.gameserver.core.database.table;

import cn.daxiang.framework.database.MultiEntity;
import cn.daxiang.framework.database.annotation.Column;
import cn.daxiang.framework.database.annotation.DBQueueType;
import cn.daxiang.framework.database.annotation.Table;
import cn.daxiang.framework.extend.KeyValue;
import cn.daxiang.framework.identity.IdentiyKey;
import com.google.common.collect.Maps;

import java.util.Map;

/**
 *
 *
 * @author ${author}
 * @since ${now}
 */
@Table(name = "${table.alias.toLowerCase()}", type = DBQueueType.DEFAULT)
public class ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)} extends MultiEntity<Long> {

   #foreach($item in $table.fields)/**
     * ${item.description}
     */
     ${item.annotation}
     private ${item.alias} ${item.name}${item.defaultValue};
   #end

    public static ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)} valueOf${table.valueOf} {
        ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)} ${table.name}  = new ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}();
    #foreach($item in $table.fields)
    ${table.name}.${item.name} = ${item.name};
    #end
    return ${table.name} ;
    }

    @Override
    public Long findFkId() {
        return this.actorId;
    }

    @Override
    public void setFkId(Long fk) {
        this.actorId = fk;
    }

    @Override
    public IdentiyKey findPkId() {
        return IdentiyKey.build(${table.name}Id);
    }

    @Override
    public void setPkId(IdentiyKey pk) {
        this.${table.name}Id = pk.getFirstLongId();
    }

}
