package cn.daxiang.lyltd.gameserver.module.${table.name}.helper;

import cn.daxiang.framework.protocal.DataPacket;
import cn.daxiang.lyltd.gameserver.core.database.table.${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)};
import cn.daxiang.lyltd.gameserver.core.netty.channel.PlayerChannel;
import cn.daxiang.lyltd.gameserver.module.${table.name}.${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}Cmd;
import cn.daxiang.lyltd.gameserver.module.${table.name}.model.${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}VO;
import cn.daxiang.lyltd.gameserver.module.${table.name}.response.${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}DeleteResponse;
import cn.daxiang.lyltd.gameserver.module.${table.name}.response.${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}Response;
import cn.daxiang.shared.ModuleName;
import com.google.common.collect.Lists;

import java.util.Collection;

/**
 * @author ${author}
 * @since ${now}
 */
public class ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}PushHelper {

    /**
     * 推送${table.comment}信息
     *
     * @param ${table.name}
     */
    public static void push${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}(${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)} ${table.name}) {
        push${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}(${table.name}.findFkId(), Lists.newArrayList(${table.name}));
    }

    /**
     * 推送${table.comment}信息
     *
     * @param actorId
     * @param ${table.name}List
     */
    public static void push${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}(long actorId, Collection<${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}> ${table.name}List) {
        Collection<${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}VO> ${table.name}VOList = Lists.newArrayList();
        for (${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)} ${table.name} : ${table.name}List) {
            ${table.name}VOList.add(${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}VO.valueOf(${table.name}));
        }
        ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}Response response = ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}Response.valueOf(${table.name}VOList);
        DataPacket packet = DataPacket.valueOf(ModuleName.${table.name.toUpperCase()}, ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}Cmd.PUSH_${table.name.toUpperCase()}, response);
        PlayerChannel.push(actorId, packet);
    }

    /**
     * 推送删除${table.comment}信息
     *
     * @param actorId
     * @param ids
     */
    public static void push${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}Delete(long actorId, Collection<Long> ids) {
        ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}DeleteResponse response = ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}DeleteResponse.valueOf(ids);
        DataPacket packet = DataPacket.valueOf(ModuleName.${table.name.toUpperCase()}, ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}Cmd.PUSH_DELETE_${table.name.toUpperCase()}_LIST, response);
        PlayerChannel.push(actorId, packet);
    }
}
