package cn.daxiang.lyltd.gameserver.module.${table.name.substring(0, 1).toLowerCase()}${table.name.substring(1)}.dao.impl;

import cn.daxiang.framework.database.SingleEntity;
import cn.daxiang.framework.database.dao.SingleEntityDaoImpl;
import cn.daxiang.framework.identity.IdentiyKey;
import cn.daxiang.lyltd.gameserver.core.database.table.${table.name.substring(0, 1).toLowerCase()}${table.name.substring(1)};
import cn.daxiang.lyltd.gameserver.module.${table.name}.dao.${table.name.substring(0, 1).toLowerCase()}${table.name.substring(1)}Dao;
import org.springframework.stereotype.Component;

/**
 * ${table.comment}
 * @author $!{author}
 * @since ${now}
 */
@Component
public class ${table.name}DaoImpl extends SingleEntityDaoImpl implements ${table.name.substring(0, 1).toLowerCase()}${table.name.substring(1)}Dao{

    @Override
    protected Class<? extends SingleEntity<?>> forClass() {
        return ${table.name}.class;
    }

    @Override
    protected void initMaxId() {
    }

    @Override
    public ${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)} get${table.name.substring(0, 1).toUpperCase()}${table.name.substring(1)}(long actorId) {
        ${table.name} table = this.get(IdentiyKey.build(actorId));
        if (table.newEntity()) {
            table.setNewEntity(false);
            updateQueue(table);
        }
        return table;
    }

}