package cn.daxiang.lyltd.gameserver.module.${table.name.substring(0, 1).toLowerCase()}${table.name.substring(1)}.model;


/**
 * ${table.comment}请求对象
 *
 * @author ${author}
 * @since ${now}
 */
public class ${table.name} {

    #foreach($item in $table.fields)
   /**
    * ${item.description}
    */
    private ${item.alias} ${item.name};
    #end


    #foreach($item in $table.fields)
    public void ${item.setString}(${item.alias} value){
        this.${item.name} = value;
    }

    public ${item.alias}  ${item.getString}(){
        return this.${item.name};
    }

    #end

}
